.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .counter {
    display: flex;
    align-items: center;
}

.wrapper .counter .number {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
}

.nav-button {
    text-align: center;
}

.nav-button .btn {
    margin: 20px 5px;
}

.btn {
    height: 40px;
    /* width: 40px; */
    min-width: 100px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: blueviolet;
}

.btn:disabled {
    background-color: gray;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.character-grid .character-card {
    text-align: center;
}

.character-grid .character-name {
    text-align: center;
}

.character-grid .character-card .img-responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

